[Unit]
Description=yueban-teacher staging service
After=syslog.target

[Service]
User=root
ExecStart=/usr/bin/java -javaagent:/teacher/tingyun/tingyun-agent-java.jar -jar /service/yueban-teacher.jar --spring.profiles.active=staging
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target