[Unit]
Description=yueban-student staging service
After=syslog.target

[Service]
User=root
ExecStart=/usr/bin/java -javaagent:/student/tingyun/tingyun-agent-java.jar -jar /service/yueban-student.jar --spring.profiles.active=staging
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target